:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.mx-80 {
  margin: 80px 0;
}

.mb-24 {
  margin-bottom: 24px;
}

.fs-24 {
  font-size: 24px;
}

.fw-500 {
  font-weight: 500;
}

.col-width {
  width: fit-content !important;
}

.rating span {
  font-size: 12px;
  color: #ffc000;
}

img.large {
  max-width: 100%;
}

img.thumbnail {
  height: 80px;
}

.checkout-steps>div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}

.checkout-steps>div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

.dropdown-menu[data-bs-popper] {
  left: auto;
  right: 0;
}

/* header */

.navbar-brand {
  font-weight: bold;
  font-size: 1.8rem;
}

a.header-link,
.header-link>a {
  color: #21313c;
  font-weight: bold;
}

a.header-link:hover,
.header-link>a:hover,
.header-link>a:focus {
  cursor: pointer;
  color: #21313c;
}

.navbar-nav .nav-link.show {
  color: #21313c;
}

.header .dropdown-menu,
.header .dropdown-item {
  color: black !important;
  background-color: white;
}

.header .dropdown-item a:hover {
  border: 1px rgb(33, 37, 41) solid;
}

.sub-header {
  background-color: #232f3e;
}

.cart-badge {
  position: absolute;
  color: #198754;
  font-weight: bold;
  margin-left: 16px;
  margin-top: -3px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 70px);
  width: 256px;
  border-right: 1px solid #d3d3d3;
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}

.sidebar-content {
  flex: 1;
}

.slider {
  margin-bottom: 30px;
}

.wrap-categories {
  margin: 0 196px;
  padding-bottom: 16px;

  .button-drop {
    line-height: 1.6;
    font-weight: 600;
    font-size: 14px;
    padding: 9px 24px;
    background-color: #0aad0a;
    border: 1px solid #0aad0a;
    color: #fff;

    &:hover {
      background-color: #099309;
      border-color: #088a08;
      color: #fff;
    }

    & i {
      margin-right: 4px;
    }
  }

  .dropdown-item {
    color: #5c6c75;
    font-size: 14px;
    line-height: 26px;
  }
}

.line::before {
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ecf0ef;
}

.carousel-control-prev {
  left: -75px;
}

.carousel-control-next {
  right: -75px;
}

.carousel-content {
  position: absolute;
  top: 88px;
  left: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 444px;
  height: 288px;

  h5 {
    text-align: left;
    font-weight: 700;
    line-height: 1.2;
    font-size: 3rem;
    color: #001e2b;
  }

  p {
    text-align: left;
    color: rgb(92, 108, 117);
    font-size: 18px;
  }
}

.introduce-img1 {
  background: url(../public/images/image/grocery-banner.png) no-repeat;
}

.banner-deal {
  background: url(../public/images/imageCoutdown/banner-deal.jpg) no-repeat;
  background-size: cover;
  height: 470px;
  width: 310px;
  padding: 32px 32px 0 32px;
}

.introduce-img2 {
  background: url(../public/images/image/grocery-banner-2.jpg) no-repeat;
}

.introduce-img1,
.introduce-img2 {
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;

  h3 {
    color: #21313c;
    font-weight: 700;
  }

  p {
    color: rgb(92, 108, 117);
    font-size: 14px;
    font-weight: 500;
  }
}

.button-shop {
  width: 124px;
  height: 40px;
  background-color: #001e2b;
  border-color: #001e2b;

  span {
    margin-right: 10px;
  }

  i {
    font-size: 13px;
  }
}

.card-title {
  color: #21313c;
  text-decoration: none;
  font-size: 14px;
}

.button-add {
  background-color: rgb(10, 173, 10);
  border-color: rgb(10, 173, 10);
  font-size: 13px;
  font-weight: 600;
  padding: 4px 8px;

  span {
    margin-left: 4px;
  }

  &:hover {
    background-color: #099309;
    border-color: #088a08;
  }
}

.button-add-L {
  width: 276px;
  height: 42px;
  background-color: rgb(10, 173, 10);
  border-color: rgb(10, 173, 10);
  font-size: 14px;
  font-weight: 600;
  padding: 4px 8px;

  span {
    margin-left: 4px;
  }

  &:hover {
    background-color: #099309;
    border-color: #088a08;
  }
}

.price {
  color: rgb(0, 30, 43);
  font-weight: 500;
  font-size: 14px;
}

.card-product {
  position: relative;

  &:hover {
    border: solid 1px #0aad0a;
    box-shadow: 0 5px 12px rgba(0, 0, 0, .12);
  }

  &:hover .tools-react,
  &:hover .tools-react-L {
    display: flex;
    animation: fadeIn ease-in 0.3s;
  }
}

.tools-react {
  position: absolute;
  top: 54%;
  right: 10px;
}

.tools-react-L {
  position: absolute;
  top: 26%;
  right: 22px;
}

.tools-react,
.tools-react-L {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 100px;

  i {
    display: block;
    width: 34px;
    height: 34px;
    cursor: pointer;
    opacity: 1;
    line-height: 34px;
    color: #5c6c75;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: 0 2px 4px -1px rgba(145, 158, 171, .2), 0 4px 5px 0 rgba(145, 158, 171, .14), 0 1px 10px 0 rgba(145, 158, 171, .12);

    &:hover {
      opacity: .8;
    }
  }
}

.timer-segment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-segment {
  width: 60px;
  height: 60px;
  font-size: 14px;
  border: solid 1px #dfe2e1;
  border-radius: 6px;
  padding: 5px 0px;
}

.services {
  text-align: center;

  h3 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
    font-weight: 600px;
  }

  p {
    color: #5c6c75;
    font-size: 16px;
    font-weight: 500;
  }
}